[Desktop Entry]
Name=podcaster
Comment=Tiny Podcaster
Type=Application
Keywords=podcast
Exec=podcaster_launch.sh
Terminal=false
Icon=podcaster
Categories=Audio;